In [1]:
import pandas as pd
import requests
import numpy as np
from io import StringIO
import time
from datetime import datetime, timedelta
import calendar
import datetime as dt
from functools import reduce
import json
import os
from collections import Counter
from pathlib import Path, PureWindowsPath

In [2]:
import sys
sys.path.insert(0, r'C:\Users\oo245\Documents\stocker')
from financial_statement import FS

In [25]:
fs = FS(fs_type='asset', co_id='4414', latest=False, year=104, season=3, market='sii')

In [26]:
fs.get()

In [37]:
for df in fs.df:
    print(len(df))

1
1
1
1
2
1
1
1
0
1
3
59
0

In [11]:
fs.df[10].columns[1]

('民國104年第2季', '單位：新台幣仟元', '104年第2季', '金額')

In [7]:
url = 'https://mops.twse.com.tw/mops/web/t163sb06'           
form = {
    'encodeURIComponent':1,
    'step': 1,
    'firstin': 1,
    'off': 1,
    'TYPEK': 'sii',
    'year': '104',
    'season': '01'
}
        
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) \
            AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}    
r = requests.post(url, form, headers=headers)
r.encoding = 'utf8'
df = pd.read_html(StringIO(r.text))

In [8]:
form

{'encodeURIComponent': 1,
 'step': 1,
 'firstin': 1,
 'off': 1,
 'TYPEK': 'sii',
 'year': '104',
 'season': '01'}

In [5]:
fs.df

[                                                   0
 0  全站搜尋營收除權息電子書法說會庫藏股董監持股獨立董事董監酬金ETFTDRwindow.onl...,
     0                                 1
 0 NaN  營收除權息電子書法說會庫藏股董監持股獨立董事董監酬金ETFTDR,
                                                    0
 0  彙總報表  基本資料  股東會及股利  TDR股利分派情形(101年起適用)  除權息公告 ...,
                                                    0   1  \
 0  彙總報表  基本資料  股東會及股利  TDR股利分派情形(101年起適用)  除權息公告 ... NaN

                                                    2
 0  營益分析查詢彙總表  市場別  上市上櫃興櫃公開發行  年度  季別  1  2  3  4...  ,
                                                    0
 0                                               彙總報表
 1  基本資料  股東會及股利  TDR股利分派情形(101年起適用)  除權息公告  股東會及除...,
     0                                    1   2   3   4
 0 NaN  市場別  上市上櫃興櫃公開發行  年度  季別  1  2  3  4 NaN NaN NaN,
     0    1           2   3   4   5   6   7           8
 0 NaN  市場別  上市上櫃興櫃公開發行 NaN  年度 NaN NaN  季別  1  2  3  4,
     0   1
 0 NaN NaN,
 Empty DataFrame
 Columns: [Unnamed: 0, Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4]
 Index: [],
         0     1          2                    3                      4  \
 0    公司代號  公司名稱  營業收入(百萬元)  毛利率(%)(營業毛利)/(營業收入)  營業利益率(%)(營業利益)/(營業收入)
 1    1101    台泥   21440.14                13.34                   7.90
 2    1102    亞泥   15362.53                10.62                   6.75
 3    1103    嘉泥     671.36               -11.27                 -27.67
 4    1104    環泥    1327.43                 8.30                   1.85
 ..    ...   ...        ...                  ...                    ...
 871  9944    新麗     931.87                25.04                   7.85
 872  9945   潤泰新    2165.67                23.23                   5.02
 873  9946  三發地產     137.58                38.75                  18.28
 874  9955    佳龍     759.41                 5.81                   2.00
 875  9958   世紀鋼     690.52                 5.60                   3.59

                          5                      6
 0    稅前純益率(%)(稅前純益)/(營業收入)  稅後純益率(%)(稅後純益)/(營業收入)
 1                     6.86                   4.55
 2                    12.01                  10.04
 3                   -31.21                 -27.30
 4                    20.32                  19.73
 ..                     ...                    ...
 871                   7.56                   5.27
 872                  80.17                  77.07
 873                  18.37                  15.92
 874                   1.51                   1.14
 875                   0.77                   0.63

 [876 rows x 7 columns],
                                                    0
 0                                         合計：共 821 家
 1                                                 註：
 2  1.\t第一季資料於每年 5 月 16 日更新，半年度於每年 8 月 15 日更新，第三季於...
 3                         2.\t金控業、銀行票券業、證券期貨業及異業別不適用,
 Empty DataFrame
 Columns: [電子投票│  不繼續公開發行│  市場公告│  公司治理評鑑│  網站地圖│  網站使用說明  投資人服務中心(02)2792-8188 聯絡我們]
 Index: []]

In [4]:
fs.clean()

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [8]:
fs.get(step=2)

In [11]:
fs.df

                    object     amount
0            營業活動之現金流量－間接法        0.0
1           繼續營業單位稅前淨利（淨損）    54110.0
2               本期稅前淨利（淨損）    54110.0
3                     折舊費用     8023.0
4                     攤銷費用     1247.0
5            呆帳費用提列（轉列收入）數     3486.0
6                     利息收入   -14425.0
7                各項保險負債淨變動   839643.0
8        具金融商品性質之保險契約準備淨變動        0.0
9              其他各項負債準備淨變動    -2474.0
10       處分及報廢不動產及設備損失（利益）      -44.0
11          處分投資性不動產損失（利益）        0.0
12              金融資產減損迴轉利益        0.0
13                收益費損項目合計   835456.0
14              應收票據（增加）減少     -514.0
15              應收保費（增加）減少  -150597.0
16             其他應收款（增加）減少    22143.0
17  透過損益按公允價值衡量之金融資產（增加）減少    57241.0
18            其他金融資產（增加）減少   773146.0
19           再保險合約資產（增加）減少  -528637.0
20          備供出售金融資產（增加）減少  -228321.0
21        持有至到期日金融資產（增加）減少      239.0
22              其他資產（增加）減少   -51177.0
23        與營業活動相關之資產之淨變動合計  -106477.0
24             其他應付款增加（減少）  -192445.0
25            其他金融負債增加（減少）    49008.0
26        與營業活動相關之負債之淨變動合計  -143437.0
27     與營業活動相關之資產及負債之淨變動合計  -249914.0
28                  調整項目合計   585542.0
29           營運產生之現金流入（流出）   639652.0
30                   收取之利息    21694.0
31              退還（支付）之所得稅     5161.0
32          營業活動之淨現金流入（流出）   666507.0
33               投資活動之現金流量        0.0
34                取得不動產及設備    -2620.0
35                處分不動產及設備       44.0
36                  取得無形資產    -8180.0
37                取得投資性不動產     -890.0
38                處分投資性不動產        0.0
39          投資活動之淨現金流入（流出）   -11646.0
40               籌資活動之現金流量        0.0
41         匯率變動對現金及約當現金之影響      207.0
42        本期現金及約當現金增加（減少）數   655068.0
43             期初現金及約當現金餘額  2131322.0
44             期末現金及約當現金餘額  2786390.0
45         資產負債表帳列之現金及約當現金  2786390.0

In [68]:
url = 'https://mops.twse.com.tw/mops/web/t164sb03'
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) \
                    AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'} 
form = {
    'encodeURIComponent': 1,
    'step': 2,
    'firstin': 1,
    'off': 1,
    'queryName': 'co_id',
    'inpuType': 'co_id',
    'TYPEK': 'all',
    'isnew': 'false',
    'co_id': str(2816),
    'year': str(104),
    'season': 4,
}
r = requests.post(url, form, headers=headers)
r.encoding = 'utf8'
df = pd.read_html(StringIO(r.text))

In [69]:
df[10]

                    民國104年第4季                                          \
                     單位：新台幣仟元
                         會計項目  104年12月31日          103年12月31日
           Unnamed: 0_level_3          金額       %          金額       %
0                     現金及約當現金   2131322.0   14.73   2855073.0   20.66
1                      應收款項淨額    767890.0    5.31    909928.0    6.58
2                     本期所得稅資產     14070.0    0.10     10232.0    0.07
3                          投資         NaN     NaN         NaN     NaN
4            透過損益按公允價值衡量之金融資產    463077.0    3.20   1037345.0    7.51
5                    備供出售金融資產    512119.0    3.54    612471.0    4.43
6                  以成本衡量之金融資產      1320.0    0.01     13182.0    0.10
7                  持有至到期日金融資產    247261.0    1.71    248222.0    1.80
8                   其他金融資產－淨額   3803870.0   26.29   1950807.0   14.11
9                    投資性不動產淨額    843212.0    5.83    859072.0    6.22
10                       投資合計   5870859.0   40.57   4721099.0   34.16
11                  再保險合約資產合計   3974927.0   27.47   3655979.0   26.45
12                   不動產及設備合計    834018.0    5.76    811159.0    5.87
13                     無形資產合計    101242.0    0.70    130814.0    0.95
14                    遞延所得稅資產      3078.0    0.02         0.0    0.00
15                     其他資產合計    773076.0    5.34    727444.0    5.26
16                       資產總計  14470482.0  100.00  13821728.0  100.00
17                     應付款項合計   1175467.0    8.12   1024563.0    7.41
18                     保險負債小計   9408753.0   65.02   8907997.0   64.45
19             具金融商品性質之保險契約準備     44087.0    0.30     74156.0    0.54
20                       負債準備    208763.0    1.44    181793.0    1.32
21                    遞延所得稅負債     64400.0    0.45     63920.0    0.46
22                     其他負債合計     45832.0    0.32     69987.0    0.51
23                       負債總計  10947302.0   75.65  10322416.0   74.68
24                歸屬於母公司業主之權益         NaN     NaN         NaN     NaN
25                         股本         NaN     NaN         NaN     NaN
26                      普通股股本   2129600.0   14.72   2129600.0   15.41
27                       股本合計   2129600.0   14.72   2129600.0   15.41
28                     資本公積合計         0.0    0.00         0.0    0.00
29                       保留盈餘         NaN     NaN         NaN     NaN
30                     法定盈餘公積    243991.0    1.69    127589.0    0.92
31                     特別盈餘公積   1050167.0    7.26    878518.0    6.36
32                      未分配盈餘     69858.0    0.48    365435.0    2.64
33                     保留盈餘合計   1364016.0    9.43   1371542.0    9.92
34                       其他權益         NaN     NaN         NaN     NaN
35          國外營運機構財務報表換算之兌換差額     -1028.0   -0.01         0.0    0.00
36              備供出售金融資產未實現損益      1351.0    0.01     -1830.0   -0.01
37                     其他權益合計       323.0    0.00     -1830.0   -0.01
38                歸屬於母公司業主之權益   3493939.0   24.15   3499312.0   25.32
39                      非控制權益     29241.0    0.20         0.0    0.00
40                       權益總計   3523180.0   24.35   3499312.0   25.32
41                    負債及權益總計  14470482.0  100.00  13821728.0  100.00
42              待註銷股本股數（單位：股）         0.0     NaN         0.0     NaN
43  母公司暨子公司所持有之母公司庫藏股股數（單位：股）         0.0     NaN         0.0     NaN
44    預收股款（權益項下）之約當發行股數（單位：股）         0.0     NaN         0.0     NaN



    103年01月01日         Unnamed: 7_level_2 Unnamed: 8_level_2
            金額       % Unnamed: 7_level_3 Unnamed: 8_level_3
0    1281581.0    9.04                NaN                NaN
1     954305.0    6.73                NaN                NaN
2      10971.0    0.08                NaN                NaN
3          NaN     NaN                NaN                NaN
4    1303277.0    9.19                NaN                NaN
5    1346144.0    9.49                NaN                NaN
6      13182.0    0.09                NaN                NaN
7     302341.0    2.13                NaN                NaN
8    2022244.0   14.26                NaN                NaN
9     877265.0    6.19                NaN                NaN
10   5864453.0   41.35                NaN                NaN
11   4470312.0   31.52                NaN                NaN
12    794855.0    5.60                NaN                NaN
13    161846.0    1.14                NaN                NaN
14         0.0    0.00                NaN                NaN
15    644656.0    4.55                NaN                NaN
16  14182979.0  100.00                NaN                NaN
17    976528.0    6.89                NaN                NaN
18   9645066.0   68.00                NaN                NaN
19    116339.0    0.82                NaN                NaN
20    175481.0    1.24                NaN                NaN
21     88129.0    0.62                NaN                NaN
22     95441.0    0.67                NaN                NaN
23  11096984.0   78.24                NaN                NaN
24         NaN     NaN                NaN                NaN
25         NaN     NaN                NaN                NaN
26   2000000.0   14.10                NaN                NaN
27   2000000.0   14.10                NaN                NaN
28         0.0    0.00                NaN                NaN
29         NaN     NaN                NaN                NaN
30     19315.0    0.14                NaN                NaN
31    662080.0    4.67                NaN                NaN
32    237256.0    1.67                NaN                NaN
33    918651.0    6.48                NaN                NaN
34         NaN     NaN                NaN                NaN
35         0.0    0.00                NaN                NaN
36    167344.0    1.18                NaN                NaN
37    167344.0    1.18                NaN                NaN
38   3085995.0   21.76                NaN                NaN
39         0.0    0.00                NaN                NaN
40   3085995.0   21.76                NaN                NaN
41  14182979.0  100.00                NaN                NaN
42         0.0     NaN                NaN                NaN
43         0.0     NaN                NaN                NaN
44         0.0     NaN                NaN                NaN

In [4]:
        self.season = season

for year in range(104, 110):
    for season in range(1,5):
        for fs_type in ['asset', 'income', 'cashflow', 'profit']:
            # try:
            if fs_type != 'profit':
                for co_id in index:
                    fname = f'C:\\Users\\oo245\\Documents\\stocker\\data\\{fs_type}_{year}_{season}_{co_id}.pkl'
                    if not os.path.exists(fname):
                        fs = FS(fs_type=fs_type, co_id=co_id, latest=False, year=year, season=season, market='sii')
                        fs.save()
                        rest = np.random.randint(3,8)
                        time.sleep(rest)
            else:
                fname = f'C:\\Users\\oo245\\Documents\\stocker\\data\\{fs_type}_{year}_{season}.pkl'
                if not os.path.exists(fname):
                    fs = FS(fs_type=fs_type, co_id='1232', latest=False, year=year, season=season, market='sii')
                    fs.save()
                    rest = np.random.randint(3,8)
                    time.sleep(rest)
            # except:
            #     print(f'{fs_type}_{year}_{season}')

NameError: name 'index' is not defined

In [17]:
fs.df[['index','name']].to_pickle('C:\\Users\\oo245\\Documents\\stocker\\data\\index.pkl')

In [9]:
df = pd.read_pickle(r'C:\Users\oo245\Documents\stocker\data\profit_104_2.pkl')

In [11]:
df[df['index']=='3598']

    index name    毛利率 營業利益率 稅前純益率 稅後純益率
621  3598   奕力  19.13  3.85  3.63  3.16